.container.weather-app {
  max-width: 666px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.main-weather-description {
  font-size: 26px;
  font-weight: 500;
}
.main-weather-description::first-letter {
  text-transform: capitalize;
}
.source-code {
  text-align: center;
}
.values {
  font-family: monospace;
  font-size: 1.3em;
}
.values a {
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  cursor: default;
}
.values a:hover {
  color: black;
}
.values .selected-unit {
  font-size: 1em;
}
div h2 {
  font-size: 1.8em;
}
div h2 a {
  text-decoration: none;
}
